/*
Common
*************/

.content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

/*
Home
*************/

.header_post_form {
    /* position: sticky; */
    top: 0;
    background-color: white;
}

.header {
    height: 50px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
}

.header .tweeter_logo img {
    width: 45px;
    position: relative;
    left: 10px;
    top: 7px;
}

.header .tweeter_text {
    position: relative;
    left: 35%;
    background: -webkit-linear-gradient(#ff4400, #0046ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.post_form {
    border-bottom: 1px solid #ccc;
    position: relative;
}

.profile_pic_name {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 4.5%;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

#profile_pic_entry {
    flex-basis: 11%;
}

.name_entry {
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    border: none;
}

.username_entry {
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    border: none;
}

.post_form textarea {
    width: 80%;
    margin-top: 10px;
    margin-left: 16%;
    margin-right: 5px;
    border: none;
    resize: none;
    outline: none;
    height: 60px;
}

.upload_submit {
    display: flex;
    flex-direction: row;
}

.blank {
    flex-basis: 16%;
}

.custom_button {
    background-color: white;
    color: #006aff;
    border: 1px solid #ccc;
    border-radius: 3px;
    flex-basis: 67%;
    margin: 5px;
    padding: 3px;
}

.cancel_link {
    text-decoration: none;
}

.cancel {
<<<<<<< HEAD
    background-color: white;
    color: #006aff;
=======
    background-color: #006aff;
    color: white;
>>>>>>> 739aec7e0038823452af723e63078e1dcb827a2b
    border: none;
    border-radius: 8px;
    flex-basis: 7.5%;
    height: 23px;
    position: relative;
    top: 5.5px;
}



.tweet {
    background-color: #006aff;
    color: white;
    border: none;
    border-radius: 8px;
    position: relative;
    margin: 5px;
    flex-basis: 7.5%;

}




.ordered_list {
    display: flex;
    flex-direction: column-reverse;
}

ol {
    padding-left: 4.5%;
}


.posts li {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    position: relative;
 
}

.posts li .menu_icon {
    width: 20px;
    position: absolute;
    right: 10px;
}

.posts li .menu {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
    padding: 5px;
    display: none;
}

.posts li .menu a {
    text-decoration: none;
}

#profile_pic_posts {
    flex-basis: 13%;
}

.profile_pic img {
    width: 50px;
}

.posts li .name_body {
    flex-basis: 85%;
    font-size: 14px;
} 

.name_time {
    color: #848383;
}

.posts li .name_body .name_time .name {
    font-weight: bold;
    color: black;
}

.username {
    text-transform: lowercase;
}

.posts li .name_body .name_time .dot img {
    width: 2px;
    position: relative;
    bottom: 3px;
    color: #848383;
    z-index: -5;
}

.likes_link {
    text-decoration: none;
}

.likes_icon {
    width: 15px;
    position: relative;
    top: 2px;
    z-index: -5;
}

