/*
Common
*************/

.content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

/*
Home
*************/

.header {
    height: 50px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
}

.header .tweeter_logo img {
    width: 45px;
    position: relative;
    left: 10px;
    top: 7px;
}

.header .tweeter_text {
    position: relative;
    left: 35%;
    background: -webkit-linear-gradient(#ff4400, #0046ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.post_form {
    border-bottom: 1px solid #ccc;
}

.post_form textarea {
    width: 90%;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    resize: none;
    outline: none;
    position: relative;
}

.post_form input {
    background-color: #0084ff;
    color: white;
    border: none;
    border-radius: 10px;
}

.posts li {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.posts li .profile_pic {
    flex-basis: 15%;
}

.posts li .profile_pic img {
    width: 50px;
}

.posts li .name_body {
    flex-basis: 85%;
    font-size: 14px;
} 

.posts li .name_body .name_time {
    color: #848383;
}

.posts li .name_body .name_time .name {
    font-weight: bold;
    color: black;
}

.posts li .name_body .name_time .dot img {
    width: 2px;
    position: relative;
    bottom: 3px;
    color: #848383;
}

.posts li .name_body .likes .likes_icon {
    width: 15px;
    position: relative;
    top: 2px;
}